/*
 * SCSS Question 1.
 * Create a mixin that can be re-used that sets the background color of a selector.
 * Then, set the body background color to red and the footer background color to green.
 * You should only use one mixin.
 */

body {
	color: black;
}

footer {
	color: white;
}

@mixin myCoolMixin($selector) {
  #{$selector} {
    background-color: blue;
  }
  body { background-color: red; }
  footer { background-color: green; }
}
