/*
 * SCSS Question 3.
 * While working on a client site, they have style guide with specific colors that
 * require re-use throughout the stylesheet.
 * It's easier to update a color once, rather than in each instance the color is used.
 * Create variables and assign them where necessary below.
 * A developer should then be able to replace each colour once without performing a find and replace function.
 * $red: #ff1111;
 * $green: #008000;
 */
 
$red: #ff1111;
$green: #008000;

body {
	
	header h1 {
		color: $red;
	}
	h2 {
		color: $green;
	}

	footer {
		background: $green;

		a {
			color: $red;
		}
	}

}
